* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    padding-top: 192px;
    padding-bottom: 2em;
}

header {
    width: 100%;
    padding: 1em;
    background-color: #f5f5f5;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    z-index: 5;
}

header form {
    display: flex;
    background-color: #ECECEC;
    border-radius: 10px;
    padding: .5em;
}

header form input {
    display: block;
    height: 48px;
    background: transparent;
    border: none;
}

header form input[type=text] {
    width: 100%;
    outline: none;
    padding: 0 1em;
    font-size: 1em;
}

header form input[type=submit] {
    aspect-ratio: 1 / 1;
    background-image: url("./../images/search.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
}

header .row {
    margin-top: 1em;
    display: flex;
    align-items: center;
}

header .row .results {
    font-size: 14px;
}

header .row button {
    margin-left: auto;
    height: 32px;
    padding: .5em 1em;
    border-radius: 10px;
    border: none;
    background: #5180C8;
    color: white;
}

main {
    width: 100%;
    padding: 0 1em;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: .5em;
    margin-top: 1em;
}

.pagination button {
    height: 32px;
    width: 50px;
    padding: .5em 1em;
    border-radius: 10px;
    border: none;
    background: #5180C8;
    color: white;   
}

.items {
    width: 100%;
    display: grid;
    grid-template-columns:  repeat(2, minmax(0, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 1em;
}

.items > div {
    width: 100%;
    background: #F6F6F6;
    margin-top: 64px;
    margin-bottom: 16px;
    padding: 80px 1em 48px 1em;
    position: relative;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
}

.items div.skeleton-item {
    animation: loading 1.5s infinite;
}

@keyframes loading {
    0% {
        opacity: .1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: .1;
    }
}

.items div img {
    height: 96px;
    width: 96px;
    object-fit: cover;
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
}

.items div.skeleton-item div {
    background-color: #e9e9e9;
    height: 96px;
    width: 96px;
    object-fit: cover;
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
}

.items div p {
    height: 1em;
    line-height: 1em;
    overflow: hidden;
}

.items div.skeleton-item p {
    background-color: #e9e9e9;
    border-radius: 10px;
}

.items div button {
    height: 32px;
    width: 100px;
    padding: .5em 1em;
    position: absolute;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    border: none;
    background: #5180C8;
    color: white;
}

.items div.skeleton-item button {
    background-color: #e9e9e9;
}

.scannen {
    visibility: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2em;
    transition: .5s;
}

.scannen video {
    height: 100%;
    width: 100%;
    display: block;
    overflow: hidden;
    border-radius: 20px;
}

.scannen.enable {
    visibility: visible;
    background: rgba(0 0 0 / 0.5);
    backdrop-filter: blur(4px);
}

.errors {
    display: flex;
    justify-content: center;
}

.errors .error {
    background-color: #ff6b6b;
    min-height: 150px;
    width: 100%;
    border-radius: 10px;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

.errors .error button {
    height: 32px;
    padding: .5em 1em;
    border-radius: 10px;
    border: none;
    background: #ffffff;
    color: #000000;
}

.errors .empty {
    background-color: #e9e9e9;
    min-height: 150px;
    width: 100%;
    border-radius: 10px;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

.errors .empty button {
    height: 32px;
    padding: .5em 1em;
    border-radius: 10px;
    border: none;
    background: #ffffff;
    color: #000000;
}

.modal {
    visibility: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: .5s;
    z-index: 10;
}

.modal.enabled {
    visibility: visible;
    background: rgba(0 0 0 / 0.5);
    backdrop-filter: blur(4px);
}

.modal .detail {
    visibility: hidden;
    background: white;
    height: 90vh;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 20px 20px 0 0;
    box-shadow: 0px -5px 5px 0px rgba(0,0,0,0.1);
    transition: .5s;
    transform: translateY(100vh);
    overflow: hidden;
    padding: 1em;
}

.modal .detail img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.modal.enabled .detail {
    visibility: visible;
    transform: translateY(0);
}

body:has(.modal.enabled) {
    overflow: hidden;
}

@media screen and (min-width: 992px) {
    .header-content, main {
        max-width: 1200px;
        margin: auto;
    }

    .items {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .modal {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .5s;
    }

    .modal .detail {
        max-width: 992px;
        width: 100%;
        aspect-ratio: 1/1;
        position: unset;
        border-radius: 20px;
        transition: .5s;
    }
}