* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 1em;
    font-family: 'Poppins', sans-serif;
}

header {
    margin-bottom: 1em;
}

header form {
    display: flex;
    background-color: #ECECEC;
    border-radius: 10px;
    padding: .5em;
}

header form input {
    display: block;
    height: 48px;
    background: transparent;
    border: none;
}

header form input[type=text] {
    width: 100%;
    outline: none;
    padding: 0 1em;
    font-size: 1em;
}

header form input[type=submit] {
    aspect-ratio: 1 / 1;
    background-image: url("./../images/search.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
}

header .row {
    margin-top: 1em;
    display: flex;
    align-items: center;
}

header .row .results {
    font-size: 14px;
}

header .row button {
    margin-left: auto;
    height: 32px;
    padding: .5em 1em;
    border-radius: 10px;
    border: none;
    background: #5180C8;
    color: white;
}

main {
    width: 100%;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: .5em;
}

.pagination button {
    height: 32px;
    width: 50px;
    padding: .5em 1em;
    border-radius: 10px;
    border: none;
    background: #5180C8;
    color: white;   
}

.items {
    width: 100%;
    display: grid;
    grid-template-columns:  repeat(2, minmax(0, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 1em;
}

.items div {
    width: 100%;
    background: #F6F6F6;
    margin-top: 64px;
    margin-bottom: 16px;
    padding: 48px 1em 48px 1em;
    position: relative;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.10);
}

.items div img {
    height: 64px;
    width: 64px;
    object-fit: cover;
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
}

.items div button {
    height: 32px;
    width: 100px;
    padding: .5em 1em;
    position: absolute;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    border: none;
    background: #5180C8;
    color: white;
}

.scannen {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2em;
}

.scannen video {
    height: 100%;
    width: 100%;
}

.scannen.enable {
    display: block;
}